.idea/
*.pyc
*.log
**/target/
**/nb-configuration.xml
**/*.log
/web/html5-app/nbproject/private//java/api/core/target/
/java/api/api-vertx/target/
/java/services/entrypoint/target/
/java/services/echo/target/